package templates

css navStyle() {
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid red;
}

templ nav() {
    <nav class={navStyle()}>
    Nav bar
    </nav>
}