package webcomponents

type FragmentProps struct {
    Path string
    Height int
    Width int
}

templ Fragment(props FragmentProps) {
    <div x-data="Frag" data-url={props.Path} data-dynamic="false">
        { children... }
    </div>
}