package webcomponents

type CarouselProps struct {
    OnBackgroundColor bool
}

templ Carousel(props CarouselProps) {
    <div
        if props.OnBackgroundColor {
            class="Carousel Carousel--on-background"
        } else {
            class="Carousel"
        }
        x-data="Carousel" data-can-scroll-l="false">
        <button class="Carousel-button Carousel-button--left" x-bind="btnL">
            <i class="fa-solid fa-chevron-left" />
        </button>
        <div class="Carousel-curtain Carousel-curtain--left"
        />
        { children... }
        <div class="Carousel-curtain Carousel-curtain--right" />
        <button class="Carousel-button Carousel-button--right" x-bind="btnR">
            <i class="fa-solid fa-chevron-right" />
        </button>
    </div>
}