package webcomponents

templ Notification(
    title, content string,
    icon templ.Component,
) {
    <div class="Notification">
        if icon != nil {
            <div class="Notification-icon">
                @icon
            </div>
        }
        <div class="Notification-main">
            <span class="Notification-title">{title}</span>
            <div class="Notification-content">{content}</div>
        </div>
    </div>
}