package templates

import "github.com/MaratBR/openlibrary/internal/i18n"
import "github.com/MaratBR/openlibrary/internal/auth"
import "github.com/MaratBR/openlibrary/internal/olhttp/webcomponents"

templ siteHeader() {
    @webcomponents.SiteHeaderRoot() {
        @webcomponents.SiteHeaderLogo()

        <button class="SiteHeader-mobileOpen" @click="navOpen=!navOpen">
            <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="F0 0 24 24"><title>menu</title><path class="fill-foreground" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
        </button>

        <nav
            id="site-nav" 
            class="SiteNav"
            data-open="false"
            :data-open="navOpen">
            { children... }

            {{ 
                l := i18n.GetLocalizer(ctx)
            }}
            <ul class="nav-links">
                <a role="listitem" class="nav-link" href="/">
                    <i class="fa-solid fa-house text-xl mr-2"></i>
                    {l.T("nav.home")}
                </a>
                <a data-nav-trigger="library" role="listitem" class="nav-link relative" href="/library" aria-expanded="false" aria-controls="NavBar_LibrarySubMenu">
                    <i class="fa-solid fa-book-open text-xl mr-2"></i>
                    {l.T("nav.library")}
                </a>
                <a role="listitem" class="nav-link" href="/search">
                    <i class="fa-solid fa-search text-xl mr-2"></i>
                    {l.T("nav.search")}
                </a>
            </ul>

            <template data-nav-content="library">
                <div class="NavSubmenu-links">
                    <a href="/library" class="NavSubmenu-link">
                        <span class="NavSubmenu-icon"><i class="fa-solid fa-book-open" aria-hidden="true"></i></span>
                        <span>{ l.T("library.title") }</span>
                        <i class="fa-solid fa-chevron-right NavSubmenu-arrow" aria-hidden="true"></i>
                    </a>
                    <a href="/library/archive" class="NavSubmenu-link">
                        <span class="NavSubmenu-icon"><i class="fa-solid fa-box-archive" aria-hidden="true"></i></span>
                        <span>{ l.T("library.archive") }</span>
                        <i class="fa-solid fa-chevron-right NavSubmenu-arrow" aria-hidden="true"></i>
                    </a>
                    <a href="/library/collections" class="NavSubmenu-link">
                        <span class="NavSubmenu-icon"><i class="fa-solid fa-layer-group" aria-hidden="true"></i></span>
                        <span>{ l.T("library.collections") }</span>
                        <i class="fa-solid fa-chevron-right NavSubmenu-arrow" aria-hidden="true"></i>
                    </a>
                </div>
            </template>

            {{
                _, isAuthorized := auth.GetSession(ctx)
            }}
            <div class="SiteNav-user">
                if isAuthorized {
                    @navUser()
                } else {
                    <a class="nav-link" href="/login">
                        { l.T("login.login") }
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                }
            </div>
        </nav>
        <div id="NavBar_LibrarySubMenu" class="NavSubmenu" data-open="false" data-nav-portal inert></div>
        <div class="site-nav-overlay" @click="navOpen=false" :data-open="navOpen" />
    }
}

templ navUser() {
    {{
        user := auth.RequireUser(ctx)
    }}
    <div id="nav-user" class="NavUser">
        <button class="NavUser-btn">
            <img class="avatar size-12 border hover:ring-2 ring-primary -ring-offset-1" src={user.Avatar.MD} /> 
        </button>
        @webcomponents.Island2(webcomponents.Island2Props{
            Name: "header-user-menu",
        })
    </div>
}