package templates

import "github.com/MaratBR/openlibrary/internal/app"
import "strconv"
import "github.com/MaratBR/openlibrary/internal/app/analytics"
import "github.com/MaratBR/openlibrary/internal/auth"
import "fmt"
import "github.com/MaratBR/openlibrary/internal/olhttp/webcomponents"


templ Home(
    widgets []templ.Component,
) {
    @standardPageLayout(standardPageLayoutProps{
        htmlLayoutProps: htmlLayoutProps{
            Title: "Home",
            UseSurfaceColorForBody: true,
        },
    }) {
        for _, widget := range widgets {
            @widget
        }
    }
}


templ Home_MainHeroSection() {
    <section class="ol-container ol-container--big home-hero-welcome">
        <div class="home-hero-welcome__bg" />
        <div class="home-hero-welcome__container">
            <p class="home-hero-welcome__eyebrow">Welcome to</p>
            <h1 class="home-hero-welcome__title">OpenLibrary</h1>
            <div class="border-t h-0 w-full relative my-8" aria-hidden="true">
                <div class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 px-4 bg-surface">
                    <img src="/_/embed-assets/svg/accent.svg" class="size-6" />
                </div>
            </div>

            <p class="home-hero-welcome__text">
                A place to discover stories worth your time. <br />
                Read, track, and explore books from our community.
            </p>

            <div class="home-hero-welcome__actions">
                <a class="btn btn--primary" href="/browse">
                    Browse library
                    <i class="btn__icon btn__icon--right fa-solid fa-chevron-right" />
                </a>

                {{
                    _, isAuthorized := auth.GetSession(ctx)
                }}
                if isAuthorized {
                    <a class="btn btn--outline" href="/library">
                        Your library
                    </a>
                } else {
                    <a class="btn btn--outline" href="/signup">
                        Your library
                    </a>
                }
            </div>
        </div>
    </section>
}

templ Home_MostViewedBooks(
    period analytics.AnalyticsPeriod,
    books []app.BookListDto,
    views map[int64]int64,
) {
    <div class="ol-container ol-container--big">
        <header class="home-header-container">
            <span class="home-header">
                Most viewed books in 2026
            </span>

            <div class="home-header-container__right">
                <a class="link font-title" href="/browse/analytics/most-viewed-2026">
                    View all <i class="fa-solid fa-chevron-right" />
                </a>
            </div>

            <div class="home-header-container__hr" />
        </header>

        @webcomponents.Carousel() {
            <ul class="book-recommendation-list overflow-x-hidden" data-period={strconv.FormatInt(int64(period), 10)}>
                for _, book := range books {
                    {{
                        viewCount, _ := views[book.ID] 
                    }}
                    <li class="book-recommendation-item">
                        <a href={ fmt.Sprintf("/book/%s-%d", book.Slug, book.ID) }>
                            // data-views={strconv.FormatInt(viewCount, 10)} 
                            // data-book-card-preview={strconv.FormatInt(book.ID, 10)}
                            <img loading="lazy" src={book.Cover.URL} class="book-recommendation-item__img"></img>
                        </a>

                        <div class="book-recommendation-item__summary">
                            <div class="book-recommendation-item__name">
                                <a class="link" href={ fmt.Sprintf("/book/%s-%d", book.Slug, book.ID) }>
                                    { book.Name }
                                </a>
                            </div>
                            <div>
                                by <a class="link">{ "A. Lumen" }</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-eye" />
                                { formatNumber(viewCount) }
                            </div>
                        </div>
                    </li>
                }
                // @webcomponents.Island2(webcomponents.Island2Props{
                //     Name: "book-card-preview",
                //     Data: map[string]string{"selector": ":parent"},
                // })
            </ul>
        }
    </div>
    
}

templ Home_WidgetError(err error) {
    <div>
        { err.Error() }
    </div>
}

templ UIDemo() {
    @standardPageLayout(standardPageLayoutProps{
        DisableHeader: true,
        DisableFooter: true,
        DisableFlashes: true,
    }) {
        <button onclick="javascript:OLTheme.toggle()">
            Toggle dark mode
        </button>

        <div class="p-8">
            <h1>Buttons</h1>
            <div class="flex items-start flex-col flex-wrap gap-2">
                <button class="btn btn--default">btn--default</button>
                <button class="btn btn--outline">btn--outline</button>
                <button class="btn btn--ghost">btn--ghost</button>
                <button class="btn btn--secondary">btn--secondary</button>
                <button class="btn btn--destructive">btn--destructive</button>
            </div>
        </div>
    }
}