package templates

import "github.com/MaratBR/openlibrary/internal/app"
import "github.com/MaratBR/openlibrary/internal/auth"
import "fmt"
import "github.com/MaratBR/openlibrary/internal/olhttp/webcomponents"


templ Home(
    widgets []templ.Component,
) {
    @standardPageLayout(standardPageLayoutProps{
        htmlLayoutProps: htmlLayoutProps{
            Title: "Home",
            UseSurfaceColorForBody: true,
        },
    }) {
        for _, widget := range widgets {
            @widget
        }
    }
}


templ Home_MainHeroSection() {
    <section class="OlContainer OlContainer--big HomeHeroWelcome">
        <div class="HomeHeroWelcome-bg" />
        <div class="HomeHeroWelcome-container">
            <p class="HomeHeroWelcome-eyebrow">Welcome to</p>
            <h1 class="HomeHeroWelcome-title">OpenLibrary</h1>
            <div class="border-t h-0 w-full relative my-8" aria-hidden="true">
                <div class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 px-4 bg-surface">
                    <img src="/_/embed-assets/svg/accent.svg" class="size-6" />
                </div>
            </div>

            <p class="HomeHeroWelcome-text">
                A place to discover stories worth your time. <br />
                Read, track, and explore books from our community.
            </p>

            <div class="HomeHeroWelcome-actions">
                <a class="Btn Btn--primary" href="/browse">
                    Browse library
                    <i class="Btn-icon BtnIcon--right fa-solid fa-chevron-right" />
                </a>

                {{
                    _, isAuthorized := auth.GetSession(ctx)
                }}
                if isAuthorized {
                    <a class="Btn Btn--outline" href="/library">
                        Your library
                    </a>
                } else {
                    <a class="Btn Btn--outline" href="/signup">
                        Your library
                    </a>
                }
            </div>
        </div>
    </section>
}

templ Home_MostViewedBooks(
    books []app.BookListDto,
    views map[int64]int64,
) {
    <div class="OlContainer OlContainer--big">
        <header class="HomeHeaderContainer">
            <span class="home-header">
                Most viewed books in 2026
            </span>

            <div class="HomeHeaderContainer-right">
                <a class="Link font-title" href="/browse/most-viewed-2026">
                    View all <i class="fa-solid fa-chevron-right" />
                </a>
            </div>

            <div class="HomeHeaderContainer-hr" />
        </header>

        @webcomponents.Carousel(webcomponents.CarouselProps{}) {
            <ul class="book-recommendation-list overflow-x-hidden">
                for _, book := range books {
                    {{
                        viewCount, _ := views[book.ID] 
                    }}
                    <li class="BookRecommendationItem">
                        <a href={ fmt.Sprintf("/book/%s-%d", book.Slug, book.ID) }>
                            // data-views={strconv.FormatInt(viewCount, 10)} 
                            // data-book-card-preview={strconv.FormatInt(book.ID, 10)}
                            <img loading="lazy" src={book.Cover.URL} class="BookRecommendationItem-img"></img>
                        </a>

                        <div class="BookRecommendationItem-summary">
                            <div class="BookRecommendationItem-name">
                                <a class="Link" href={ fmt.Sprintf("/book/%s-%d", book.Slug, book.ID) }>
                                    { book.Name }
                                </a>
                            </div>
                            <div>
                                by <a class="Link" href={ templ.SafeURL(fmt.Sprintf("/users/%s", book.Author.ID.String())) }>{ book.Author.Name }</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-eye" />
                                { formatNumber(viewCount) }
                            </div>
                        </div>
                    </li>
                }
                // @webcomponents.Island2(webcomponents.Island2Props{
                //     Name: "book-card-preview",
                //     Data: map[string]string{"selector": ":parent"},
                // })
            </ul>
        }
    </div>
    
}

templ Home_WidgetError(err error) {
    <div>
        { err.Error() }
    </div>
}

templ UIDemo() {
    @standardPageLayout(standardPageLayoutProps{
        DisableHeader: true,
        DisableFooter: true,
        DisableFlashes: true,
    }) {
        <button onclick="javascript:OLTheme.toggle()">
            Toggle dark mode
        </button>

        <div class="p-8">
            <h1>Buttons</h1>
            <div class="flex items-start flex-col flex-wrap gap-2">
                <button class="Btn Btn--primary">Btn--primary</button>
                <button class="Btn Btn--outline">Btn--outline</button>
                <button class="Btn Btn--ghost">Btn--ghost</button>
                <button class="Btn Btn--secondary">Btn--secondary</button>
                <button class="Btn Btn--destructive">Btn--destructive</button>
            </div>
        </div>
    }
}
