package templates

templ modLayout(title string) {
    @standardPageLayout(standardPageLayoutProps{
        htmlLayoutProps: htmlLayoutProps{Title: title, CSS: []string{"/_/assets/mod.css"}},
    }) {
        { children... }
    }
}