.be-layout {
    @apply flex flex-col h-full w-full;

    &__header {
        @apply h-16;
    }

    &__body {
        @apply grow-1;
    }
}

.be-header {
    @apply bg-card border-b h-full grid;
    // I just borrowed it from WP
    grid-template-columns: 64px minmax(min-content,2fr) 2.5fr minmax(min-content,2fr) 64px;

    &__right {
        @apply flex items-center justify-end;
    }
}

#BlockEditorWrap {
    @apply p-4;

    margin: 0 auto;
    max-width: 65ch;

    .ProseMirror {
        @apply focus-visible:outline-none focus:outline-none;

        &::selection {
            @apply bg-primary/20;
        }
    }

    p.is-editor-empty:first-child::before {
        @apply text-muted-2-foreground;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}

@mixin interactable() {
    line-height: calc(var(--spacing) * 10);
    @apply 
        h-10 px-1 rounded-xl transition
        text-gray-700 dark:text-gray-100
        hover:bg-black/20 hover:text-black dark:hover:bg-white/20 dark:hover:text-white;
}

.be-toggle {
    @include interactable();
    @apply size-10;

    &[aria-selected=true] {
        @apply bg-black/10 text-black hover:bg-black/20 dark:bg-white/10 dark:text-white dark:hover:bg-white/20;
    }
}

.be-toggle-group {
    @apply flex items-center rounded-xl;

    & > .be-toggle {
        // @apply rounded-none first:rounded-l-xl last:rounded-r-xl;
    }
}


.be-listitem {
    @include interactable();

    &__icon {
        @apply inline-block mr-1;
    }
}