[database]
url = "postgres://postgres:postgres@localhost:5432/openlibrary?sslmode=disable"

[server]
host = "0.0.0.0"
port = 8080
public-origin = "http://localhost:8080"

[frontend-proxy]
target-port = 5173
target-host = "localhost"
target-protocol = "http"

[init]
create-default-users = true
import-predefined-tags = true

[minio]
endpoint = "localhost:9000"
access-key = "openlibrary-server"
secret-key = "IDsoRiCoNaTIcKLETringRoTA"
region = "us-east-1"
bucket = "openlibrary"
public-bucket = "openlibrary-public"
secure = false

[elasticsearch]
url = "http://localhost:9200"

[cache]
# type = "redis"
# type = "memory"
type = "disabled"

[redis]
url = "localhost:6379"

[auth]
    requireEmail = true
    emailVerification = true

[siteConfig.default]

    [siteConfig.default.PasswordRequirements]
    Digits = true
    Symbols = "!@#$%^&*()_+-=<>{}[]\"':;?~`"
    SymbolsEnabled = true
    DifferentCases = true
    MinLength = 8

    [siteConfig.default.ContentRestrictions]
    AdultWebsite = false

    [siteConfig.default.CaptchaSettings]
    Type = "none"
    GoogleRecaptchaKey = ""