.container-default {
    @apply w-[100%] mx-auto px-[2rem] max-w-screen-2xl;
}

.page-header-text {
  @apply text-3xl font-semibold text-foreground font-title;
}

.page-header {
  @apply py-10;
}

.section-header {
  @apply py-4;
}

.section-header-text {
  @apply text-xl font-semibold text-foreground;
}

.link-default {
  @apply font-[500] text-foreground/80 underline-offset-4 hover:text-foreground hover:underline focus:underline;
}

.page-section {
  @apply py-8;
}

.badge-alt {
  @apply bg-background flex gap-1 rounded-full border border-border py-1 px-2 text-muted-foreground hover:bg-muted;
}

.menu-item {
  @apply flex gap-2 p-2 rounded-sm font-semibold text-muted-foreground
    hover:bg-muted hover:text-foreground
    active:bg-muted-2;

  &.active {
    @apply text-foreground;
  }
}

.user-content {
  p {
    margin-bottom: 0.4em;
  }

  strong, b {
    @apply font-semibold;
  }

  h1, h2, h3, h4, h5, h6 {}

  ul {
    list-style: disc;
    @apply ml-5;
  
    ul {
      list-style: circle;
    }
  }

  ol {
    @apply ml-5;
    list-style: decimal;
  }
}

.focus-outline {
  @apply active:ring-2 ring-offset-2 ring-black dark:ring-white;
}