package olhttp

import "github.com/MaratBR/openlibrary/internal/app"

script JSServerData(key string, v any) {
    (window.__server__||(window.__server__={}))[key]=v
}

templ ServerData() {
    @JSServerData("ageRatings", app.AllRatings)
}