package olhttp

import "github.com/MaratBR/openlibrary/internal/app"
import "github.com/MaratBR/openlibrary/internal/auth"

script JSServerData(key string, v any) {
    (window.__server__||(window.__server__={}))[key]=v
}

templ ServerData() {
    @JSServerData("ageRatings", app.AllRatings)

    {{
        user, _ := auth.GetUser(ctx)
    }}
    @JSServerData("user", user)
}