@keyframes moveIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.anim-appear {
    animation: moveIn 0.17s ease-out;
}