:root {
    --btn-tint: #000000;
}

.dark {
    --btn-tint: #ffffff;
}

.btn {
    @apply 
        inline-flex justify-center items-center v-middle whitespace-nowrap text-sm font-medium ring-offset-background transition rounded-full cursor-pointer relative
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
        disabled:pointer-events-none disabled:opacity-50 leading-[2.4];
    height: var(--btn-height);
    line-height: var(--btn-height) !important;
    padding: 0 calc(var(--btn-height) / 3);
    text-align: center;
    --btn-height: calc(var(--spacing) * 10);
    --btn-tint-frac: 15%;
    --btn-bg-opacity: 0%;
    --btn-colors-main: color-mix(in srgb, var(--background), transparent 80%);

    & > i.fa-solid:first-child:not(:last-child) {
        @apply mr-2;
    }

    // regular
    & {
        background-color: var(--btn-colors-main);
        color: var(--btn-colors-text);
        --btn-colors-shadow: var(--foreground);
        --btn-shadow-transparency: 70%;
        --btn-shadow-params: 0 1px 5px -3px;
        box-shadow: var(--btn-shadow-params) color-mix(in srgb, var(--btn-colors-shadow), transparent var(--btn-shadow-transparency));

        &:hover {
            --btn-shadow-transparency: 50%;
            --btn-shadow-params: 0 3px 6px -2px;
        }

        &:active {
            background-color: color-mix(in srgb, var(--btn-colors-main), var(--btn-tint) var(--btn-tint-frac));
        }

        &.destructive {
            --btn-colors-main: var(--destructive);
            --btn-colors-shadow: var(--destructive);
            --btn-colors-text: var(--destructive-foreground);
        }

        &.primary {
            --btn-colors-main: var(--primary);
            --btn-colors-shadow: var(--primary);
            --btn-colors-text: var(--primary-foreground);
        }
    }

    &--ghost {
        --btn-colors-main: var(--foreground);
        color: var(--btn-colors-main);
        background-color: transparent;
        box-shadow: none;

        &:hover, &:active {
            background-color: color-mix(in srgb, var(--btn-colors-main) 13%, transparent);
        }

        &.destructive {
            --btn-colors-main: var(--destructive);
        }

        &.primary {
            --btn-colors-main: var(--primary);
        }
    }

    &--outline {
        --btn-colors-main: var(--foreground);
        --btn-colors-border: color-mix(in srgb, var(--foreground), transparent 70%);
        box-shadow: none;

        @apply transition-all;
        border: 1px solid var(--btn-colors-border);
        line-height: calc(var(--btn-height) - 2px) !important;
        color: var(--btn-colors-main);
        background-color: transparent;

        &:hover {
            --btn-colors-border: var(--btn-colors-main);
            @apply ring ring-inset;
        }

        &:hover, &:active {
            background-color: transparent;
        }

        &.destructive {
            --btn-colors-main: var(--destructive);
        }

        &.primary {
            --btn-colors-main: var(--primary);
        }
    }

    &--icon {
        @apply size-12 text-initial;
    }
    
    // SIZES
    &--sm {
        @apply text-sm;
    }

    &--lg {
        --btn-height: calc(var(--spacing) * 11);
        @apply text-lg;
    }

    &--sq {
        @apply rounded-sm;
    }
}


.btn-group {
    @apply inline-flex items-stretch;

    & > .btn:not(:first-child):not(:last-child) {
        @apply rounded-none;
    }

    & > .btn:not(:last-child) {
        @apply border-r-0;
    }

    & > .btn:first-child {
        @apply rounded-r-none;
    }

    & > .btn:last-child {
        @apply rounded-l-none;
    }

    & > .btn:not(:last-child)::after {
        content: ' ';
        @apply block border-r-1 absolute border-border;
        top: 10%;
        bottom: 10%;
        right: 0;
    }

    &--rounded-md {
        &, & > .btn {
            @apply rounded-md;
        }
    }
}

.btn-list {
    & > li > .btn {
        @apply block w-full text-start !rounded-none;
    }
}

.circular-indicator {
    --indicator-color: var(--primary);
    @apply size-2 absolute -top-1 -right-1 rounded-full;
    background-color: var(--indicator-color);
    animation: circular-indicator-glow 1.5s ease-out infinite;
}

@keyframes circular-indicator-glow {
  0% {
    box-shadow: 0 0 0 0 color-mix(in srgb, var(--indicator-color), transparent 30%);
  }
  100% {
    box-shadow: 0 0 0 12px color-mix(in srgb, var(--indicator-color), transparent 100%);
  }
}
