:root {
    --btn-tint: #000000;
}

.dark {
    --btn-tint: #ffffff;
}

@mixin btnVariantSolid() {
    background-color: var(--btn-colors-main);
    color: var(--btn-colors-text);

    &:active {
        background-color: color-mix(in srgb, var(--btn-colors-main), var(--btn-tint) 15%);
    }
}

@mixin btnColorPrimary {
    --btn-colors-main: var(--primary);
    --btn-colors-shadow: var(--primary);
    --btn-colors-text: var(--primary-foreground);
}

.btn {
    @apply 
        inline-flex justify-center items-center v-middle whitespace-nowrap text-sm font-medium ring-offset-background transition rounded-full cursor-pointer relative
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
        disabled:pointer-events-none disabled:opacity-50 leading-[2.4];
    height: var(--btn-height);
    line-height: var(--btn-height) !important;
    padding: 0 calc(var(--btn-height) / 3);
    text-align: center;
    --btn-height: calc(var(--spacing) * 10);

    &:hover {
        --btn-shadow-transparency: 50%;
        --btn-shadow-params: 0 3px 6px -2px;
    }

    &--default {
        @include btnVariantSolid();
        @include btnColorPrimary();
    }

    &--outline {
        @apply border active:border-foreground;

        background-color: var(--surface);

        &:hover {
            background-color: color-mix(in oklch, var(--surface), var(--foreground) 5%);
        }

        &:active {
            background-color: color-mix(in oklch, var(--surface), var(--foreground) 10%);
        }
    }

    &--ghost {
        background-color: transparent;

        &:hover {
            background-color: color-mix(in oklch, transparent, var(--foreground) 5%);
        }

        &:active {
            background-color: color-mix(in oklch, transparent, var(--foreground) 10%);
        }    
    }

    &--secondary {
        background-color: var(--secondary);

        &:hover {
            background-color: color-mix(in oklch, var(--secondary), var(--foreground) 5%);
        }

        &:active {
            background-color: color-mix(in oklch, var(--secondary), var(--foreground) 10%);
        }
    }

    &--destructive {
        @apply text-destructive;
        background-color: color-mix(in oklab, var(--destructive) 10%, transparent);
        &:hover {
            background-color: color-mix(in oklab, var(--destructive) 15%, transparent);
        }
        &:active {
            background-color: color-mix(in oklab, var(--destructive) 20%, transparent);
        }
    }

    &--icon {
        @apply size-12;

        &:hover, &:active {
            background-color: color-mix(in srgb, var(--btn-colors-main) 13%, transparent);
        }
    }

    // SIZES
    &--sm {
        @apply text-sm;
    }

    &--lg {
        --btn-height: calc(var(--spacing) * 11);
        @apply text-lg;
    }

    &--sq {
        @apply rounded-sm;
    }

    &__icon {
        &--left {
            @apply mr-1;
        }

    }
}


.btn-group {
    @apply inline-flex items-stretch;

    & > .btn:not(:first-child):not(:last-child) {
        @apply rounded-none;
    }

    & > .btn:not(:first-child) {
        @apply border-l-0;
    }

    & > .btn:not(:last-child) {
        @apply border-r-0;
    }

    & > .btn:first-child {
        @apply rounded-r-none;
    }

    & > .btn:last-child {
        @apply rounded-l-none;
    }

    & > .btn:not(:last-child)::after {
        content: ' ';
        @apply block border-r-1 absolute border-border;
        top: 10%;
        bottom: 10%;
        right: 0;
    }

    &--rounded-md {
        &, & > .btn {
            @apply rounded-md;
        }
    }
}

.btn-list {
    & > li > .btn {
        @apply block w-full text-start !rounded-none;
    }
}

.circular-indicator {
    --indicator-color: var(--primary);
    @apply size-2 absolute -top-1 -right-1 rounded-full;
    background-color: var(--indicator-color);
    animation: circular-indicator-glow 1.5s ease-out infinite;
}

@keyframes circular-indicator-glow {
  0% {
    box-shadow: 0 0 0 0 color-mix(in srgb, var(--indicator-color), transparent 30%);
  }
  100% {
    box-shadow: 0 0 0 12px color-mix(in srgb, var(--indicator-color), transparent 100%);
  }
}
