:root {
    --btn-tint: #000000;
}

.dark {
    --btn-tint: #ffffff;
}

.btn {
    @apply 
        inline-block v-middle whitespace-nowrap text-sm font-medium ring-offset-background transition-colors rounded-full cursor-pointer
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
        disabled:pointer-events-none disabled:opacity-50 leading-[2.4];
    height: var(--btn-height);
    line-height: var(--btn-height) !important;
    padding: 0 calc(var(--btn-height) / 3);
    text-align: center;
    --btn-height: calc(var(--spacing) * 9);
    --btn-tint-frac: 13%;
    --btn-bg-opacity: 0%;
    --btn-colors-main-hover: color-mix(in srgb, var(--btn-colors-main), var(--btn-tint) var(--btn-tint-frac));
    background-color: var(--btn-colors-main);
    color: var(--btn-colors-text);

    &:hover {
        background-color: var(--btn-colors-main-hover);
    }

    & > i.fa-solid:first-child:not(:last-child) {
        @apply mr-2;
    }

    &--ghost {
        color: var(--btn-colors-main);
        background-color: transparent;

        --btn-colors-main: var(--foreground);
        --btn-colors-text: var(--foreground);

        &:hover {
            background-color: color-mix(in srgb, var(--btn-colors-main) 13%, transparent);
        }
    }

    &--outline {
        --btn-colors-main: var(--foreground);
        --btn-colors-text: var(--foreground);

        border: 2px solid var(--btn-colors-main);
        line-height: calc(var(--btn-height) - 2px) !important;
        color: var(--btn-colors-main);
        @apply bg-card transition-all hover:bg-card hover:ring;
    }
    
    // SIZES
    &--sm {
        @apply text-sm;
    }

    &--lg {
        --btn-height: calc(var(--spacing) * 11);
        @apply text-lg;
    }

    &--icon {
        --btn-height: calc(var(--spacing) * 10);
        @apply h-10 w-10 rounded-full;
    }

    // COLORS
    &, &--primary {
        --btn-colors-main: var(--primary);
        --btn-colors-text: var(--primary-foreground);
    }

    &--fg {
        --btn-colors-main: var(--foreground);
        --btn-colors-text: var(--card);
    }

    &--secondary {
        --btn-colors-main: var(--secondary);
        --btn-colors-text: var(--secondary-foreground);
    }

    &--destructive {
        --btn-colors-main: var(--destructive);
        --btn-colors-text: var(--destructive-foreground);
    }
}

.btn-group {
    @apply flex items-stretch;

    .btn:not(:first-child):not(:last-child) {
        @apply rounded-none;
    }

    .btn:not(:last-child) {
        @apply border-r-0;
    }

    .btn:first-child {
        @apply rounded-r-none;
    }

    .btn:last-child {
        @apply rounded-l-none;
    }
}