:root {
    --btn-tint: #000000;
}

.dark {
    --btn-tint: #ffffff;
}

.btn {
    @apply 
        inline-block v-middle whitespace-nowrap text-sm font-medium ring-offset-background transition rounded-2xl cursor-pointer relative
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
        disabled:pointer-events-none disabled:opacity-50 leading-[2.4];
    height: var(--btn-height);
    line-height: var(--btn-height) !important;
    padding: 0 calc(var(--btn-height) / 3);
    text-align: center;
    --btn-height: calc(var(--spacing) * 9);
    --btn-tint-frac: 15%;
    --btn-bg-opacity: 0%;
    --btn-colors-main: var(--background);

    & > i.fa-solid:first-child:not(:last-child) {
        @apply mr-2;
    }

    // regular
    & {
        background-color: var(--btn-colors-main);
        color: var(--btn-colors-text);
        --btn-colors-shadow: var(--foreground);
        --btn-shadow-transparency: 70%;
        --btn-shadow-params: 0 1px 5px -2px;
        box-shadow: var(--btn-shadow-params) color-mix(in srgb, var(--btn-colors-shadow), transparent var(--btn-shadow-transparency));

        &:hover {
            --btn-shadow-transparency: 50%;
            --btn-shadow-params: 0 3px 7px -2px;
        }

        &:active {
            background-color: color-mix(in srgb, var(--btn-colors-main), var(--btn-tint) var(--btn-tint-frac));
        }

        &.destructive {
            --btn-colors-main: var(--destructive);
            --btn-colors-shadow: var(--destructive);
            --btn-colors-text: var(--destructive-foreground);
        }

        &.primary {
            --btn-colors-main: var(--primary);
            --btn-colors-shadow: var(--primary);
            --btn-colors-text: var(--primary-foreground);
        }
    }

    &--ghost {
        --btn-colors-main: var(--foreground);
        color: var(--btn-colors-main);
        background-color: transparent;
        box-shadow: none;

        &:hover {
            background-color: color-mix(in srgb, var(--btn-colors-main) 13%, transparent);
        }

        &.destructive {
            --btn-colors-main: var(--destructive);
        }

        &.primary {
            --btn-colors-main: var(--primary);
        }
    }

    &--outline {
        --btn-colors-main: var(--foreground);
        box-shadow: none;

        @apply bg-card transition-all hover:bg-card hover:ring hover:ring-inset;
        border: 1px solid var(--btn-colors-main);
        line-height: calc(var(--btn-height) - 2px) !important;
        color: var(--btn-colors-main);

        &.destructive {
            --btn-colors-main: var(--destructive);
        }

        &.primary {
            --btn-colors-main: var(--primary);
        }
    }
    
    // SIZES
    &--sm {
        @apply text-sm;
    }

    &--lg {
        --btn-height: calc(var(--spacing) * 11);
        @apply text-lg;
    }

    &--icon {
        --btn-height: calc(var(--spacing) * 10);
        @apply h-10 w-10 rounded-full;
    }

    &--sq {
        @apply rounded-sm;
    }
}


.btn-group {
    @apply inline-flex items-stretch;

    & > .btn:not(:first-child):not(:last-child) {
        @apply rounded-none;
    }

    & > .btn:not(:last-child) {
        @apply border-r-0;
    }

    & > .btn:first-child {
        @apply rounded-r-none;
    }

    & > .btn:last-child {
        @apply rounded-l-none;
    }

    & > .btn:not(:last-child)::after {
        content: ' ';
        @apply block border-r-1 absolute border-border;
        top: 10%;
        bottom: 10%;
        right: 0;
    }

    &--rounded-md {
        &, & > .btn {
            @apply rounded-md;
        }
    }
}

.btn-list {
    & > li > .btn {
        @apply block w-full text-start !rounded-none;
    }
}