.chapter-comment {
    @apply grid gap-col-2;
    grid-template-columns: 84px 1fr;

    &__content {
        @apply bg-card p-4 rounded-4xl mt-2;
    }

    &__actions {
        @apply mt-1 inline-flex gap-2 bg-card rounded-3xl;

        & > button {
            @apply flex items-center justify-center size-8 text-muted-foreground hover:text-foreground;
        }
    }
}