.chapter-comment {
    --avatar-size: 48px;

    &__header {
        @apply grid gap-col-2 items-center;
        grid-template-columns: var(--avatar-size) 1fr; 
    }

    &__content {
        margin-left: calc(var(--avatar-size) + var(--spacing) * 2);
    }

    &__actions {
        margin-left: calc(var(--avatar-size) + var(--spacing) * 2);
        @apply mt-1 inline-flex gap-4 font-semibold text-sm;
        vertical-align: middle;

        & > button {
            @apply 
                flex items-center justify-center h-8 min-w-8 text-muted-foreground transition relative 
                hover:text-primary;
            z-index: 1;

            &[data-set=true] {
                @apply text-primary-foreground;
            }

            &::after {
                content: ' ';
                z-index: -1;
                @apply opacity-0 pointer-events-none inset-0 relative block bg-secondary rounded-2xl absolute transition;
            }

            &:hover::after,
            &[data-set=true]::after {
                left: -4px;
                right: -4px;
                @apply opacity-100;
            }

            &[data-set=true]::after {
                @apply bg-primary;
            }
        }
    }
}

.chapter-comment-reply {
    @apply relative mt-4 grid gap-col-1;
    grid-template-columns: 1fr auto;

    &__reply {
    }

    &__text {
        @apply border-b border-b-2 outline-none w-full p-1 focus:border-current transition;
        scrollbar-width: thin;
        min-height: 60px;
        max-height: 300px;
    }
}

.comment-replies {
    margin-left: calc(var(--avatar-size) + var(--spacing) * 2);
}