.Chip {
  @apply leading-6 px-2 inline-flex items-center gap-1 text-secondary-foreground font-medium text-sm;
  border-radius: calc(var(--radius) - 2px);

  @apply bg-secondary border border-transparent;

  &--primary {
    @apply text-primary;
    background: var(--accent);
  }

  &--secondary {
    @apply bg-secondary;
  }

  &--destructive {
    @apply text-destructive;
    background: var(--destructive-soft);
  }

  &--lg {
    @apply text-base py-1 px-3 font-medium;
  }

  &-close {
    @apply text-xs text-secondary-foreground hover:text-foreground;

    & > i {
      font-size: inherit !important;
    }
  }
}
