.input, .textarea {
    @apply 
        border-gray-400 dark:border-gray-600 border 
        rounded-sm px-3 w-full bg-card
        hover:border-black dark:hover:border-white
        focus:outline focus:outline-primary !focus:border-primary text-foreground
        disabled:opacity-80 disabled:pointer-events-none;
}

.textarea {
    @apply block p-3;
}

input.input, select.input {
    @apply h-10;
}

textarea.input {
    @apply pt-2;
}

.input-dropdown {
    @apply hidden;
}

.label {
    @apply block text-sm text-foreground font-medium;

    &[for] {
        @apply cursor-pointer;
    }
}

.dropdown {
    @apply 
        border-gray-400 dark:border-gray-600 border 
        rounded-sm w-full bg-card relative
        transition-all;

    &__input {
        @apply outline-none w-full h-10 px-3 mb-1 bg-transparent;
    }

    &__menu {
        @apply hidden absolute left-[-1px] right-[-1px] top-full bg-card z-30
            border-gray-400 dark:border-gray-600 border border-t-0
            rounded-b-sm;
    }

    &__chips {
        @apply flex flex-wrap items-center gap-1 m-2 empty:hidden;
    }

    &[data-open=true] {
        @apply rounded-b-none;
    }

    &:not([data-open=true]) {
        @apply hover:border-primary hover:ring-1 hover:ring-primary;
    }

    &[data-open=true] &__menu {
        @apply block;
    }

    &[data-open=true] &__input {
        @apply bg-secondary rounded-sm;
    }
}

.form-control {
    &--horizontal {
        @apply md:grid md:grid-cols-[200px_1fr];
    }

    &__label {
        @apply text-foreground px-2;

        & > .label {
            @apply mb-0;
        }

        & > label {
            @apply mb-2;
        }
    }

    &--horizontal &__label {
        @apply py-2;
    }

    &__value {
        @apply p-2;
    }

    &__hint {
        @apply text-sm text-muted-foreground;
    }
}

.input-transparent {
    @apply focus:bg-highlight focus:outline-none;
}