.library-header {
    &__item {
        @apply text-3xl font-medium p-2 rounded-xl;
    
        &:not(&--active) {
            @apply text-muted-foreground transition-colors duration-75 hover:bg-primary/10 hover:text-primary active:bg-primary/15;
        }

        &--active {
            @apply shadow-lg bg-background;
        }
    }
}

.library-body {
    @apply pb-10 space-y-12;
}

.library-section {
    @apply relative;

    &__header {
        @apply 
            text-2xl font-medium mb-4 whitespace-nowrap
            2xl:absolute 2xl:right-full 2xl:text-right 2xl:py-2 2xl:px-3 2xl:rounded-full 2xl:bg-muted 2xl:mr-4;
    }

    &__books {
        @apply lg:flex lg:gap-4 lg:items-start lg:flex-wrap;
    }
}

.library-user-collection {
    @apply bg-card p-3 -mx-3 rounded-xl;

    &__header {
        @apply py-2 px-3 -mx-3 block rounded-lg active:bg-highlight;
    }

    &__name {
        @apply text-2xl font-semibold;
    }

    &__header:hover &__name {
        @apply underline underline-offset-2;
        text-decoration-thickness: 0.1em;
    }

    & ul {
        @apply mt-2;
    }
}