.listitem {
    @apply p-1;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @apply hover:bg-highlight cursor-pointer;

    &--lg {
        @apply p-2;
    }
}