@mixin loader {

}

.with-loader {
  position: relative;
  color: transparent !important;

  & > * {
    opacity: 0 !important;
  }

  &::after {
    content: ' ';
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% - 32px), -50%);
  }
}

.loader, .with-loader::after {
  --loader-color: var(--foreground);

  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--loader-color);
  box-shadow: 32px 0 var(--loader-color), -32px 0 var(--loader-color);
  position: relative;
  margin-left: 32px;
  margin-right: 32px;
  animation: flash 0.5s ease-out infinite alternate;
}

.loader--dark {
  --loader-color: hsl(210 40% 98%);
}

@keyframes flash {
    0% {
      background-color: color-mix(in srgb, var(--loader-color), transparent 50%);
      box-shadow: 32px 0 color-mix(in srgb, var(--loader-color), transparent 50%), -32px 0 var(--loader-color);
    }
    50% {
      background-color: hsl(var(--loader-color));
      box-shadow: 32px 0 color-mix(in srgb, var(--loader-color), transparent 50%), -32px 0 color-mix(in srgb, var(--loader-color), transparent 50%);
    }
    100% {
      background-color: color-mix(in srgb, var(--loader-color), transparent 50%);
      box-shadow: 32px 0 var(--loader-color), -32px 0 color-mix(in srgb, var(--loader-color), transparent 50%);
    }
}