.site-header {
    @apply z-40 w-full bg-card sticky top-0 h-[var(--header-height)] border-b;

    &__inner {
        @apply max-w-[120ch] mx-auto h-full flex flex-nowrap;

        @apply lg:items-stretch;
    }

    &__logo {
        // main site logo
        @apply px-2 inline-block focus:outline focus:outline-2 outline-offset-[-2px] lg:mr-4 active:bg-secondary;
    }

    &__mobile-open {
        @apply p-2 active:outline absolute right-2 top-1 bottom-1 lg:hidden;
    }
}

.site-nav {
    top: var(--header-height);
    @apply flex flex-col gap-2 fixed z-50 w-screen shadow-lg invisible transition-all opacity-0 bg-card;
    transform: translateY(-20px);

    @apply lg:visible lg:static lg:shadow-none lg:flex-row lg:bg-transparent lg:transition-none lg:transform-none lg:opacity-100; 

    &[data-open=true] {
        @apply visible opacity-100;
        transform: translateY(0px);
    }

    &__user {
        @apply lg:ml-auto flex items-stretch;
    }

    &__himage {
        --scale: 0.5;
        background-image: url('/_/embed-assets/img/headerImage.png');
        height: calc(var(--h) * var(--scale));
        width: calc(var(--w) * var(--scale));
        background-position: var(--offset) 0;
        background-size: calc(var(--w) * var(--scale)) calc(var(--h) * var(--scale));


        &[data-image="1"] {
            --h: 162px;
            --w: 171px;
            --offset: 0px;
        }
    }
}

.site-nav-overlay {
    @apply lg:hidden hidden fixed inset-0 z-30;

    &[data-open=true] {
        @apply block;
    }
}

.nav-links {
    @apply flex flex-col;

    @apply lg:flex-row lg:mr-auto;
}

.nav-link {
    @apply 
        inline-flex items-center font-medium text-foreground/80 text-[1rem] px-5  h-16
        lg:h-[initial] lg:my-2 lg:rounded-xl
        hover:text-foreground hover:bg-accent
        active:text-primary;

    &__icon {
        @apply mr-2;   
    }
}

.nav-user {
    @apply 
        relative h-full ml-4 mt-0 w-full
        lg:min-w-12 lg:max-w-24;

    &__btn {
        @apply lg:h-full;
    }

    &__menu {
        @apply 
            bg-secondary rounded-lg mr-4 mb-4
            lg:bg-card lg:rounded-xl lg:absolute lg:top-full lg:right-0 lg:p-1 lg:space-y-1 lg:min-w-48 lg:flex lg:flex-col lg:shadow-md;

        &__item {
            @apply px-2 py-2 min-h-10 flex items-center rounded-md transition-all duration-100 w-full
                hover:bg-muted
                active:bg-muted-2;
        }
    }
}

:root {
    --dashboard-layout__sidebar-width: 220px;
    --dashboard-sidebar-item-height: 38px;
    --dashboard-sidebar-item-icon-width: 38px;
    --dashboard-layout__sidebar-indicator-size: 16px;
}

.dashboard-layout {
    margin-left: var(--dashboard-layout__sidebar-width);

    &__sidebar {
        @apply h-full fixed bg-card/70 backdrop-blur-3xl rounded-lg border;
        width: calc(var(--dashboard-layout__sidebar-width) - 8px);
        height: calc(100% - 8px);
        left: 4px;
        top: 4px;
    }

    &__body {
        @apply px-16;
    }
}

.dashboard-sidebar-ghost-btn {
    @apply rounded-md p-2 mx-1 transition-colors text-md hover:bg-black/10 hover:text-foreground text-muted-foreground;
}

.dashboard-sidebar-hr {
    @apply border-t;
}

.dashboard-sidebar-list {
    & > .dashboard-sidebar-item {
        @apply mb-2;
    }
}

.dashboard-sidebar-item {
    @apply cursor-pointer text-md text-muted-foreground transition relative mx-1 rounded-md;

    & > a {
        display: block;
    }

    &--active, &:has(>a.active) {
        @apply font-semibold text-foreground;

        &::before {
            content: ' ';
            @apply block -left-1 bg-primary absolute;
            width: 4px;
            top: calc((var(--dashboard-sidebar-item-height) - var(--dashboard-layout__sidebar-indicator-size)) / 2);
            height: var(--dashboard-layout__sidebar-indicator-size);
            border-radius: 0 10px 10px 0;
        }
    }
    
    &:hover:not(&--active) {
        @apply text-foreground bg-highlight;
    }

    &__icon {
        @apply text-center v-middle absolute left-0 top-0;
        height: var(--dashboard-sidebar-item-height);
        width: var(--dashboard-sidebar-item-icon-width);

        & > i {
            line-height: var(--dashboard-sidebar-item-height);
        }
    }

    &__label {
        padding-left: var(--dashboard-sidebar-item-icon-width);
        min-height: var(--dashboard-sidebar-item-height);
        line-height: var(--dashboard-sidebar-item-height);
    }
}
.dashboard-content {
    @apply bg-card relative;

    &__sticky-header {
        @apply sticky top-0 p-4 backdrop-blur-sm z-1;
        background-image: linear-gradient(color-mix(in srgb, var(--card), transparent 70%),color-mix(in srgb, var(--card), transparent 70%),transparent);
        mask: linear-gradient(black, black, transparent);
    }
}