.SiteHeader {
  @apply z-40 w-full sticky top-0 h-[var(--header-height)] border-b;
  border-color: var(--border);
  background: var(--surface);

  &--blurred {
    background: color-mix(in srgb, var(--surface) 84%, transparent);
    backdrop-filter: blur(12px);
  }

  &-inner {
    max-width: var(--ol-container-big-width);
    @apply mx-auto h-full flex flex-nowrap;

    @apply lg:items-stretch;
  }

  &-logo {
    // main site logo
    @apply px-2 inline-block focus:outline focus:outline-2 outline-offset-[-2px] lg:mr-4 active:bg-surface;
  }

  &-mobileOpen {
    @apply p-2 active:outline absolute right-2 top-1 bottom-1 lg:hidden;
  }
}

.SiteNav {
  top: var(--header-height);
  @apply flex flex-col gap-2 fixed z-50 w-screen shadow-lg invisible transition-all opacity-0 bg-surface;
  transform: translateY(-20px);

  @apply lg:visible lg:static lg:shadow-none lg:flex-row lg:bg-transparent lg:transition-none lg:transform-none lg:opacity-100;

  &[data-open='true'] {
    @apply visible opacity-100;
    transform: translateY(0px);
  }

  &-user {
    @apply lg:ml-auto flex items-stretch;
  }

  &-himage {
    --scale: 0.5;
    background-image: url('/_/embed-assets/img/headerImage.png');
    height: calc(var(--h) * var(--scale));
    width: calc(var(--w) * var(--scale));
    background-position: var(--offset) 0;
    background-size: calc(var(--w) * var(--scale)) calc(var(--h) * var(--scale));

    &[data-image='1'] {
      --h: 162px;
      --w: 171px;
      --offset: 0px;
    }
  }
}

.site-nav-overlay {
  @apply lg:hidden hidden fixed inset-0 z-30;

  &[data-open='true'] {
    @apply block;
  }
}

.nav-links {
  @apply flex flex-col;

  @apply lg:flex-row lg:mr-auto;
}

.nav-link {
  @apply inline-flex items-center font-medium text-secondary-foreground text-[1rem] px-5  h-16
        lg:h-[initial] lg:my-2 lg:rounded-lg
        hover:text-primary
        active:text-primary;
  transition:
    color var(--transition-fast),
    background var(--transition-fast);

  &-icon {
    @apply mr-2;
  }
}

.NavUser {
  @apply relative h-full ml-4 mt-0 w-full
        lg:min-w-12 lg:max-w-24;

  &-btn {
    @apply lg:h-full;
  }
}

:root {
  --dashboard-layout__sidebar-width: 220px;
  --dashboard-sidebar-item-height: 48px;
  --dashboard-sidebar-item-icon-width: 38px;
  --dashboard-layout__sidebar-indicator-size: 16px;
}

.DashboardLayout {
  padding-left: var(--dashboard-layout__sidebar-width);

  &-sidebar {
    @apply h-full fixed bg-surface border-r;
    border-color: var(--border);
    width: var(--dashboard-layout__sidebar-width);
    height: 100%;
    left: 0px;
    top: 0px;
  }

  &-body {
    @apply min-h-screen min-w-0;
  }
}

.dashboard-sidebar-ghost-btn {
  @apply rounded-md p-2 mx-1 transition-colors text-md hover:bg-foreground/10 hover:text-foreground text-secondary-foreground;
}

.dashboard-sidebar-list {
  & > .DashboardSidebarItem {
  }
}

.DashboardSidebarItem {
  @apply relative cursor-pointer text-md text-secondary-foreground border-l-4;
  transition:
    color var(--transition-fast),
    background var(--transition-fast);

  &-container {
    @apply flex flex-row items-center;
  }

  & > a {
    display: block;
  }

  &--active,
  &:has(> a.active) {
    @apply text-primary bg-primary/10 border-primary;
  }

  &:hover:not(&--active, :has(> a.active)) {
    @apply text-foreground bg-highlight;
  }

  &-icon {
    @apply absolute left-0 top-0 h-full text-center v-middle;
    height: var(--dashboard-sidebar-item-height);
    width: var(--dashboard-sidebar-item-icon-width);

    & > i {
      line-height: var(--dashboard-sidebar-item-height);
    }
  }

  &-label {
    padding-left: var(--dashboard-sidebar-item-icon-width);
    min-height: var(--dashboard-sidebar-item-height);
    line-height: var(--dashboard-sidebar-item-height);
  }
}

.DashboardContent {
  @apply relative px-16;

  &-stickyHeader {
    @apply sticky top-0 p-4 backdrop-blur-sm z-1 -mx-16 px-16;
    background-image: linear-gradient(
      color-mix(in srgb, var(--background), transparent 18%),
      color-mix(in srgb, var(--background), transparent 18%),
      transparent
    );
    mask: linear-gradient(black, black, transparent);
  }
}
