.pagination {
    @apply flex flex-wrap gap-2;

    &__item {
        @apply 
            rounded-md flex items-center justify-center font-semibold
            size-10 min-w-10 bg-muted-2/40 transition-colors
            hover:bg-muted-2
            active:bg-secondary;

        &--active {
            @apply bg-primary text-primary-foreground border-primary hover:bg-primary;
        }
    }
}