.PasswordInput {
  &-requirements {
    @apply my-2;

    & > li {
      @apply text-destructive text-sm mb-1;
      display: grid;
      grid-template-columns: 1.5em 1fr;

      &[aria-valid='true'] {
        @apply text-success;
      }
    }
  }

  &-okIcon,
  &-errIcon {
    @apply mt-1;
  }

  &-okIcon {
    display: none !important;
  }

  [aria-valid='true'] > &-okIcon {
    display: inline !important;
  }

  [aria-valid='true'] > &-errIcon {
    display: none !important;
  }
}
