.ProseMirror {
    @apply outline-none;

    p.is-editor-empty:first-child::before {
        @apply text-muted-2-foreground;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}