/* The switch itself */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    min-width: 60px;
    height: 34px;
  }
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider (the visual part of the switch) */
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.1s;
  border-radius: 34px;
}

/* The slider circle (the knob) */
.switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.1s;
}

/* When the switch is checked (turned on) */
input:checked + .switch__slider {
  @apply bg-primary;
}

input:checked + .switch__slider:before {
  transform: translateX(26px);
}