.table {
    width: 100%;
    table-layout: fixed;
    @apply border border-border border-b-2 bg-card;

    td, th {
        @apply p-2 text-start font-normal;
    }

    td {
        @apply v-start;
    }

    thead {
        tr:last-child {
            @apply border-b;
        }
    }

    tfoot {
        tr:first-child {
            @apply border-t;
        }
    }
}