.table {
    width: 100%;
    table-layout: fixed;
    @apply bg-card;

    td, th {
        @apply p-2 text-start font-normal;
    }

    tr {
        @apply border-b;
    }

    th {
        @apply font-medium;
    }

    td {
        @apply v-start;
    }

    thead {
        tr {
            @apply bg-background;
        }
    }

    tfoot {
        tr:first-child {
            @apply border-t;
        }
    }
}