.tabs {
    --tab-height: 40px;
    --tab-border-color-active: var(--primary);
    @apply flex;

    .tab {
        @apply cursor-pointer;
        height: var(--tab-height);
        line-height: var(--tab-height);
    }

    &--primary {
        @apply p-1 bg-card rounded-2xl;

        .tab {
            @apply font-medium relative border-transparent text-muted-foreground transition px-2 rounded-xl;
            padding-bottom: 3px;

            &:hover:not(&--active) {
                @apply text-foreground;
            }

            &::after {
                content: ' ';
                @apply block absolute left-0 right-0 bottom-0 transition;
                height: 3px;
            }

            &--active {
                @apply border-primary text-foreground text-primary bg-primary/10;
            }
        }
    }

    &--primary-b {
        .tab {
            @apply border-b-2 font-medium border-transparent text-lg text-muted-foreground hover:text-foreground;

            &--active {
                @apply font-semibold border-current text-foreground;
            }

            & > a {
                @apply px-2 inline-block h-full v-middle;
                line-height: var(--tab-height);
            }
        }
    }
}