.tag {
  @apply inline-block overflow-hidden px-2 bg-surface border rounded-sm
        hover:text-foreground hover:bg-highlight
        focus-visible:ring focus-visible:ring-primary focus-visible:border-primary focus-visible:ring-inset focus-visible:outline-none;
  transition:
    color var(--transition-fast),
    background var(--transition-fast),
    border-color var(--transition-fast);
  height: 1.7em;
  line-height: 1.7em;


  &__adult {
    @apply text-destructive font-semibold text-sm;
  }
}

.tags {
  &--sm {
    .tag {
      @apply text-sm p-1;
    }
  }

  &--xs {
    .tag {
      @apply text-xs p-0.5;
    }
  }
}

ul.tags {
  & > li {
    @apply inline-block me-1;
  }
}
