.tag {
    @apply 
        inline-block overflow-hidden rounded-lg px-1 !shadow-none bg-secondary border border-secondary transition-colors
        hover:border-slate-300 
        active:bg-slate-200 active:ring-2 ring-offset-2 dark:active:bg-slate-900;
    height: 1.7em;
    line-height: 1.7em;

    &__adult {
        @apply text-red-600 font-semibold text-sm;
    }
}

.tags {
    &--sm {
        .tag {
            @apply text-sm p-1;
        }
    }

    &--xs {
        .tag {
            @apply text-xs p-0.5;
        }
    }
}

ul.tags {
    & > li {
        @apply inline-block me-1;
    }
}
