.ol-container {
    --container-width: 80rch;

    width: min(100vw, var(--container-width));

    @apply mx-auto px-4 md:px-0;

    &--big {
        --container-width: 120rch;
    }
}

.container-padded-left {
    padding-left: max(0px, calc((100% - 120ch) / 2));
}

/**
 * Main page header
 */ 
.page-header {
    @apply font-medium text-3xl inline-block font-semibold;
    line-height: 1.3;
    vertical-align: bottom;

    &__after {
        @apply text-sm font-normal ml-4 mt-1 inline-block leading-[2.2];
        vertical-align: top
    }
}

.page-header-container {
    @apply relative mb-8;

    --page-header-container-right-width: 300px;

    &:has(&__right) {
        padding-right: var(--page-header-container-right-width);
    }

    &__right {
       @apply absolute top-0 right-0;
       width: var(--page-header-container-right-width); 
    }
}

.dl {
    @apply grid grid-cols-[3fr_7fr];

    dt {
        @apply text-muted-foreground font-medium mt-4;
    }

    dd {
        @apply mt-4 border-b pb-2;

        &:last-child {
            @apply border-b-0;
        }
    }
}


.skeleton {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
  animation: shimmer 2s linear alternate infinite;

  @keyframes shimmer {
    0% {
        background-color: #DDDBDD;
    }
    100% {
        background-color: #F0F0F0;
    }
  }
}