.side-tabs {
    @apply min-h-[calc(100vh-var(--header-height))] relative;
    --bm-sidebar-width: 200px;
    padding-left: var(--bm-sidebar-width);

    &__menu {
        @apply border-r border-border w-[var(--bm-sidebar-width)] left-0 top-0 bottom-0 absolute bg-background pt-2;

        ul {
            @apply sticky top-[var(--header-height)] flex flex-col items-stretch gap-2;
        }
    }

    &__tab {
        @apply block font-normal p-2 text-lg rounded-l-full pl-5 cursor-pointer
            hover:bg-secondary
            active:bg-muted-2
            hover:text-primary;

        &--active {
            @apply hover:text-foreground bg-secondary font-semibold;
        }
    }

    &__body {
        @apply pl-8;
    }
}