.book-manager {
    @apply min-h-[calc(100vh-var(--header-height))] relative;
    --bm-sidebar-width: 200px;
    padding-left: var(--bm-sidebar-width);

    &__menu {
        @apply border border-border border-y-0 w-[var(--bm-sidebar-width)] left-0 top-0 bottom-0 absolute bg-background;

        ul {
            @apply sticky top-[var(--header-height)] flex flex-col items-stretch gap-2;

            li {
                & > a {
                    @apply block font-normal p-2 text-lg
                        hover:bg-secondary
                        active:bg-muted-2;

                        &:not([data-link-active-full=true]) {
                            @apply hover:text-primary;
                        }

                        &[data-link-active-full=true] {
                            @apply bg-secondary font-semibold;
                        }
                }
            }
        }
    }

    &__body {
        @apply pl-8;
    }
}