@import "./style/theme.css";
@import "./style/util.scss";

button, [role=button] {
    cursor: pointer;
}

* {
    @apply border-border;
}

.link {
    @apply text-primary underline-offset-4 hover:text-foreground hover:underline focus:underline;
}

.link--primary {
    @apply text-blue-600 hover:text-blue-900;
}

.os-theme-dark, .os-theme-light {
    --os-size: 22px;
}

.os-theme-dark {
    --os-handle-bg: rgba(0, 0, 0, .2);
}

*, *::after, *::before, *::backdrop {
  --tw-ring-offset-color: hsl(var(--background));
}

.no-transition { transition: none !important; }
