.BeFontPickerItem {
    @apply v-middle grid;
    height: var(--item-height);
    grid-template-columns: var(--item-height) 1fr var(--item-height);

    & .apply-font {
        font-family: var(--font-family);
    }

    
    &-main {
        @apply flex flex-col justify-center;
    }
    
    &-aa {
        @apply v-middle text-center text-3xl;
        line-height: var(--item-height);
        width: var(--item-height);
    }

    &-name, &-nameNormal {
        @apply block;
    }

    &-name {
        @apply text-2xl;
    }

    &-nameNormal {
        @apply text-secondary-foreground;
    }

    @apply cursor-pointer;

    &:hover:not(&:has(&-starButton:hover)) {
        @apply ring ring-inset ring-offset-3;
    }

    &-star {
        @apply relative;
    }

    &-starButton {
        @apply absolute inset-2 rounded-lg flex items-center justify-center text-2xl hover:bg-highlight;

        &[aria-selected=true] {
            @apply text-yellow-600;
        }
    }
}