.BeFontPickerItem {
    @apply v-middle grid;
    height: var(--item-height);
    grid-template-columns: var(--item-height) 1fr var(--item-height);

    & .apply-font {
        font-family: var(--font-family);
    }

    
    &-main {
        @apply flex flex-col justify-center;
    }
    
    &-aa {
        @apply v-middle text-center text-3xl;
        line-height: var(--item-height);
        width: var(--item-height);
    }

    &-name, &-nameNormal {
        @apply block;
    }

    &-name {
        @apply text-2xl;
    }

    &-nameNormal {
        @apply text-secondary-foreground;
    }
}