// ----------------- //
//                   //
// BOOK PAGE         //
//                   //
// ----------------- //
.book-page {
    @apply md:grid md:grid-cols-12 md:gap-4 mx-auto max-w-[100ch] py-4;

    &__left {
        @apply md:col-span-3 flex flex-col items-center mb-10 md:mb-0;
    }

    &__right {
        @apply md:col-span-9 px-4 md:px-0;
    }

    &__rating-card {
        @apply text-md text-muted-foreground ml-2 inline-block bg-secondary rounded-xl py-2 px-4;
    }
}

// ----------------- //
//                   //
// BOOK TOC          //
//                   //
// ----------------- //
.book-toc {
    ul {
        @apply md:grid md:grid-cols-2 mt-3 gap-1 items-stretch;
    }

    &__search {
        @apply col-end-2;
    }

    &__item {
        @apply 
            p-2 text-lg grid grid-cols-[48px_auto] rounded-lg bg-card border h-full
            hover:bg-secondary hover:shadow-sm hover:outline hover:outline-2;

        &--readingNow {
            @apply border-primary outline-primary outline outline-2;
        }
    }

    &__num {
        @apply flex flex-col items-center gap-2;
    }

    &__mark {
        @apply inline-block text-muted-foreground;
    }
}

// ----------------- //
//                   //
// BOOK SEARCH PAGE  //
//                   //
// ----------------- //
.book-search-results {
    @apply md:bg-card md:shadow-md;
}

.book-search-card {
    @apply
        border-b-2 relative
        md:grid md:grid-cols-[165px_1fr] md:border-b md:pb-2 md:pt-4;

    &__left {
        @apply bg-secondary md:bg-transparent py-2 mb-4 md:mb-0 flex flex-col items-center justify-start;
    }

    &__right {
        @apply px-4 md:px-0;
    }

    &__link {
        @apply text-2xl font-title !text-muted-2-foreground !hover:text-foreground;
    }

    &__author {
    }

    &__imglink {
        @apply rounded-r-xl transition-shadow focus:ring focus:ring-foreground focus:ring-offset-4 inline-block h-[200px];
    }

    &:hover &__imglink {
        @apply scale-[1.02] transition-transform [&>img]:transition-shadow [&>img]:shadow-lg inline-block;
    }

    &__summary {
        @apply text-sm mt-4;
    }

    &__tags {
        @apply flex items-center gap-1 flex-wrap text-sm mt-2;

        &__more {
            @apply cursor-pointer p-2 active:bg-slate-800 active:text-primary-foreground
        }
    }
}


.book-cover {
    @apply overflow-hidden h-[calc(200px*var(--cover-scale,1))] inline-block rounded-r-xl;

    img {
        @apply object-contain h-full w-full;
    }
}