.ol-btn {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
    @apply h-10 px-4 py-2;

    &--sm {
        @apply h-9 rounded-md px-3;
    }

    &--lg {
        @apply h-11 rounded-md px-8;
    }

    &--icon {
        @apply h-10 w-10 rounded-full;
    }

    &--outline {
        @apply border-2 bg-background border-gray-600
            hover:bg-accent hover:text-accent-foreground 
            focus:border-black focus:outline focus:outline-1 focus:outline-black hover:border-black 
            dark:border-zinc-300 dark:focus:outline-white dark:focus:border-white;
    }

    &--secondary {
        @apply bg-muted text-secondary-foreground hover:bg-muted-2;
    }

    &--ghost {
        @apply text-muted-foreground hover:bg-accent hover:text-accent-foreground;
    }

    &--primary {
        @apply bg-primary text-primary-foreground hover:bg-primary/90 active:shadow-[0_0_7px] ring-black ring-offset-2 active:ring-2 dark:active:ring-white;
    }

    &--destructive {
        @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
    }


}

.ol-btn-group {
    @apply flex items-stretch;

    .ol-btn:not(:first-child):not(:last-child) {
        @apply rounded-none;
    }

    .ol-btn:not(:last-child) {
        @apply border-r-0;
    }

    .ol-btn:first-child {
        @apply rounded-r-none;
    }

    .ol-btn:last-child {
        @apply rounded-l-none;
    }
}