@import "./theme.css";

button, [role=button] {
    cursor: pointer;
}

* {
    @apply border-border;
}

.os-theme-dark, .os-theme-light {
    --os-size: 22px;
}

.os-theme-dark {
    --os-handle-bg: rgba(0, 0, 0, .2);
}

*, *::after, *::before, *::backdrop {
  --tw-ring-offset-color: hsl(var(--background));
}

.no-transition { transition: none !important; }

strong, b {
    @apply font-[600];
}

@view-transition {
  navigation: auto;
}