.flash-container {
    .flash {
        @apply mb-1;
    }
}

.flash {
    @apply bg-card border-border shadow-md border-l-2 border-l-emerald p-2 relative;

    &__closeContainer {
        @apply absolute right-2 top-0 bottom-0 flex items-center;
    }

    &__close {
        @apply size-8 flex items-center justify-center hover:bg-highlight rounded-full;   
    }
}