.ol-input {
    @apply 
        border-gray-400 dark:border-gray-600 border 
        rounded-sm px-3 w-full bg-background
        hover:border-black dark:hover:border-white
        focus:outline focus:border-current text-foreground
        disabled:opacity-80 disabled:pointer-events-none;
}

input.ol-input, select.ol-input {
    @apply h-10;
}

textarea.ol-input {
    @apply pt-2;
}

.ol-input-dropdown {
    @apply hidden;
}

.ol-label {
    @apply block text-sm text-foreground;

    &[for] {
        @apply cursor-pointer;
    }
}

.ol-dropdown {
    @apply 
        border-gray-400 dark:border-gray-200 border 
        rounded-sm w-full bg-background relative
        transition-all;

    &__input {
        @apply outline-none w-full h-10 px-3 bg-transparent;
    }

    &__menu {
        @apply hidden absolute left-[-1px] right-[-1px] top-full bg-background z-30
            border-gray-400 dark:border-gray-200 border border-t-0
            rounded-b-sm;
    }

    &[data-open=true] {
        @apply rounded-b-none m-[-5px] p-[5px];
    }

    &:not([data-open=true]) {
        @apply hover:border-primary hover:ring-1 hover:ring-primary;
    }

    &[data-open=true] &__menu {
        @apply block;
    }

    &[data-open=true] &__input {
        @apply bg-secondary rounded-sm;
    }
}