.loader {
  --loader-color: var(--foreground);

  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: hsl(var(--loader-color));
  box-shadow: 32px 0 hsl(var(--loader-color)), -32px 0 hsl(var(--loader-color));
  position: relative;
  margin-left: 32px;
  animation: flash 0.5s ease-out infinite alternate;
}

.loader--dark {
  --loader-color: 210 40% 98%;
}

@keyframes flash {
    0% {
      background-color: hsla(var(--loader-color) / 0.5);
      box-shadow: 32px 0 hsla(var(--loader-color) / 0.5), -32px 0 hsl(var(--loader-color));
    }
    50% {
      background-color: hsl(var(--loader-color));
      box-shadow: 32px 0 hsla(var(--loader-color) / 0.5), -32px 0 hsla(var(--loader-color) / 0.5);
    }
    100% {
      background-color: hsla(var(--loader-color) / 0.5);
      box-shadow: 32px 0 hsl(var(--loader-color)), -32px 0 hsla(var(--loader-color) / 0.5);
    }
}