.nav-link {
    @apply 
        h-full inline-flex items-center font-medium text-foreground/80 text-[1rem] px-5 
        hover:text-foreground hover:bg-accent
        focus:outline -outline-offset-2
        active:text-primary;
}