.site-header {
    @apply z-40 w-full bg-card sticky top-0 h-[var(--header-height)] border-b;

    &__inner {
        @apply max-w-[120ch] mx-auto h-full flex flex-nowrap;

        @apply lg:items-stretch;
    }

    &__logo {
        // main site logo
        @apply px-2 inline-block focus:outline focus:outline-2 outline-offset-[-2px] lg:mr-4 active:bg-secondary;
    }

    &__mobile-open {
        @apply p-2 active:outline absolute right-2 top-1 bottom-1 lg:hidden;
    }
}

.site-nav {
    top: var(--header-height);
    @apply flex flex-col gap-2 fixed z-50 w-screen shadow-lg invisible transition-all opacity-0 bg-card;
    transform: translateY(-20px);

    @apply lg:visible lg:static lg:shadow-none lg:flex-row lg:bg-transparent lg:transition-none lg:transform-none lg:opacity-100; 

    &[data-open=true] {
        @apply visible opacity-100;
        transform: translateY(0px);
    }

    &__user {
        @apply lg:ml-auto flex items-stretch;
    }

    &__himage {
        --scale: 0.5;
        background-image: url('/_/embed-assets/img/headerImage.png');
        height: calc(var(--h) * var(--scale));
        width: calc(var(--w) * var(--scale));
        background-position: var(--offset) 0;
        background-size: calc(var(--w) * var(--scale)) calc(var(--h) * var(--scale));


        &[data-image="1"] {
            --h: 162px;
            --w: 171px;
            --offset: 0px;
        }
    }
}

.site-nav-overlay {
    @apply lg:hidden hidden fixed inset-0 z-30;

    &[data-open=true] {
        @apply block;
    }
}

.nav-links {
    @apply flex flex-col;

    @apply lg:flex-row lg:mr-auto;
}

.nav-link {
    @apply 
        inline-flex items-center font-medium text-foreground/80 text-[1rem] px-5  h-16
        lg:h-[initial] lg:my-2 lg:rounded-xl
        hover:text-foreground hover:bg-accent
        active:text-primary;

    &__icon {
        @apply mr-2;   
    }
}

.nav-user {
    @apply 
        relative h-full ml-4 mt-0 w-full
        lg:min-w-12 lg:max-w-24;

    &__btn {
        @apply lg:h-full;
    }

    &__menu {
        @apply 
            bg-secondary rounded-lg mr-4 mb-4
            lg:bg-muted lg:rounded-xl lg:absolute lg:top-full lg:right-0 lg:p-1 lg:space-y-1 lg:min-w-48 lg:flex lg:flex-col lg:shadow-md;

        &__item {
            @apply px-2 py-2 min-h-10 flex items-center rounded-md transition-all duration-100 w-full
                hover:bg-card hover:shadow-sm
                active:bg-muted-2;
        }
    }
}

:root {
    --sitebar-width: 160px;
    --sitebar-item-height: 36px;
    --sitebar-item-icon-width: 36px;
}

.sitebar {
    @apply fixed bg-zinc-800 text-white;
    width: var(--sitebar-width);
    z-index: 1;
}

.sitebar-back {
    @apply bg-zinc-800 fixed h-full;
    width: var(--sitebar-width);
}

.sitebar-item {
    @apply cursor-pointer text-sm;

    &--active {
        @apply bg-blue-500 text-white font-semibold;
    }
    
    &:hover:not(&--active) {
        @apply text-blue-300 bg-blue-300/10;
    }

    &__icon {
        @apply float-left text-center v-middle;
        height: var(--sitebar-item-height);
        width: var(--sitebar-item-icon-width);

        & > i {
            line-height: var(--sitebar-item-height);
        }
    }

    &__label {
        padding: 8px 0 8px var(--sitebar-item-icon-width);
    }
}

.sitebar-body {
    margin-left: var(--sitebar-width);
    @apply pl-4;

    &__content {
        @apply float-left w-full pt-4 pr-4;
    }
}