.password-input {
    &__requirements {
        @apply my-2;

        & > li {
            @apply text-red text-sm mb-1;
            display: grid;
            grid-template-columns: 1.5em 1fr;


            &[aria-valid=true] {
                @apply text-green;
            }
        }
    }

    &__ok-icon, &__err-icon {
        @apply mt-1;
    }

    &__ok-icon {
        display: none !important;
    }

    [aria-valid=true] > &__ok-icon {
        display: inline !important;
    }

    [aria-valid=true] > &__err-icon {
        display: none !important;
    }
}