.tabs {
    @apply flex gap-1;

    .tab {
        @apply cursor-pointer;
    }

    &--primary {
        .tab {
            @apply 
                text-lg font-medium 
                relative 
                hover:bg-secondary 
                transition-all
                rounded-lg;

            &--active {
                @apply 
                    text-primary after:scale-y-100 bg-primary/10 !rounded-lg;
            }
        }
    }

    &--primary-b {
        .tab {
            @apply border-b-2 font-medium border-transparent text-lg text-muted-foreground hover:text-foreground;

            &--active {
                @apply font-semibold border-current text-foreground;
            }

            & > a {
                @apply p-2 inline-block;
            }
        }
    }
}