.tabs {
    --tab-height: 48px;
    --tab-border-color-active: var(--colors-primary-DEFAULT);
    @apply flex gap-1;

    .tab {
        @apply cursor-pointer;
        height: var(--tab-height);
        line-height: var(--tab-height);
    }

    &--primary {
        .tab {
            @apply font-medium relative mx-2 border-transparent text-muted-foreground hover:text-foreground;
            padding-bottom: 3px;

            &::after {
                content: ' ';
                @apply block absolute left-0 right-0 bottom-0;
                height: 3px;
            }

            &--active {
                @apply border-primary font-semibold text-foreground;

                &::after {
                    background-color: var(--tab-border-color-active);
                }
            }

            &--active:hover::after {
                height: 4px;
            }
        }
    }

    &--primary-b {
        .tab {
            @apply border-b-2 font-medium border-transparent text-lg text-muted-foreground hover:text-foreground;

            &--active {
                @apply font-semibold border-current text-foreground;
            }

            & > a {
                @apply px-2 inline-block h-full v-middle;
                line-height: var(--tab-height);
            }
        }
    }
}