.ol-tag {
    @apply 
        inline-block overflow-hidden transition-shadow
        hover:shadow-[0_2px_0_currentColor] hover:bg-highlight
        p-2 !shadow-none bg-secondary 
        active:bg-slate-800 active:text-primary-foreground dark:active:text-white
        hover:outline hover:-outline-offset-1 hover:outline-2 hover:outline-slate-900;


    &--adult {
        @apply before:inline before:text-red-800 before:dark:text-red-400 font-[500];
        &::before {
            content: '18+';
        }
    }
}