.ol-tag {
    @apply 
        inline-block overflow-hidden rounded-lg p-1 !shadow-none bg-secondary border border-secondary transition-colors
        hover:border-slate-300
        active:bg-slate-200 active:ring-2 ring-offset-2;


    &--adult {
        @apply before:inline before:text-red-800 before:dark:text-red-400 font-[500];
        &::before {
            content: '18+';
        }
    }
}

.ol-tags {
    &--sm {
        .ol-tag {
            @apply text-sm p-1;
        }
    }

    &--xs {
        .ol-tag {
            @apply text-xs p-0.5;
        }
    }
}
