.ol-container {
    --container-width: 80rch;

    width: min(100vw, var(--container-width));

    @apply mx-auto px-4 md:px-0;

    &--big {
        --container-width: 120rch;
    }
}

.container-padded-left {
    padding-left: max(0px, calc((100% - 120ch) / 2));
}

/**
 * Main page header
 */ 
.page-header {
    @apply font-medium text-xl mb-1 mt-1 mr-2;
    line-height: 1.3;
    vertical-align: bottom;

    &--big {
        @apply text-4xl;
    }

    &-text {
        @apply font-title mb-4;
    }

    &__after {
        @apply text-sm inline-block leading-[2.2];
    }
}

.dl {
    @apply grid grid-cols-[3fr_7fr];

    dt {
        @apply text-muted-foreground font-medium mt-4;
    }

    dd {
        @apply mt-4 border-b pb-2;

        &:last-child {
            @apply border-b-0;
        }
    }
}