.chapter-content {
    font-family: charter, serif;
    @apply text-xl max-w-[70em] mx-auto;

    & hr {
        margin: 1.8em 0;
    }
}

.link-chapter-control {
    @apply h-max p-3 flex flex-col;
}

.link-chapter-control__label {
    @apply flex gap-2 items-center;
}

.link-chapter-control__name {
    @apply text-sm font-normal;
}

.link-chapter-control__icon {
    @apply transition-transform;
}

.link-chapter-control--next {
    @apply items-start;
}

.link-chapter-control--next:hover .link-chapter-control__icon {
    transform: translateX(8px);
}

.link-chapter-control--prev {
    @apply items-end;
}

.link-chapter-control--prev:hover .link-chapter-control__icon {
    transform: translateX(-8px);
}