.chapter-content {
    font-family: charter, serif;
    @apply text-xl max-w-[min(70em,1500px)] mx-auto;

    & hr {
        margin: 1.8em 0;
    }
}

.link-chapter-control {
    @apply h-max p-3 flex flex-col active:outline;

    &__label {
        @apply flex gap-2 items-center;
    }

    &__name {
        @apply text-sm font-normal;
    }

    &__icon {
        @apply transition-transform;
    }

    &--next {
        @apply items-start;
    }

    &--prev {
        @apply md:items-end;
    }

    &--next:hover &__icon {
        transform: translateX(8px);
    }

    &--prev:hover &__icon {
        transform: translateX(-8px);
    }
}



