package templates

import "github.com/MaratBR/openlibrary/internal/i18n"

templ Forbidden() {
    {{ l := i18n.GetLocalizer(ctx) }}
    @baseLayout("403") {
        <main class="Admin-frame py-12">
            <section class="admin-card">
                <h1 class="font-title text-4xl">403</h1>
                <p class="my-4">{l.T("admin.ui.forbidden")}</p>
                <a href="/" class="Btn Btn--primary">{l.T("admin.goBackToSite")}</a>
            </section>
        </main>
    }
}
