package templates

import "github.com/MaratBR/openlibrary/internal/olhttp"
import "github.com/MaratBR/openlibrary/internal/flash"

templ flashes() {
    {{ arr := flash.PullFlashes(ctx) }}
    if len(arr) > 0 {
        <div class="Admin-frame">
            for _, f := range arr {
                <div role="status" class="Admin-notice">@f</div>
            }
        </div>
    }
}

templ baseLayout(title string) {
    @olhttp.Doc(olhttp.DocProps{
        Title: "Admin - " + title,
        Scripts: []string{ "/_/assets/common.js", "/_/assets/admin-common.js", "/_/assets/admin-alpinejs.js" },
        CSS: []string{ "/_/assets/common.css", "/_/assets/admin-common.css", "/_/embed-assets/fonts.css" },
        InstantClick: false,
    }) {
        <div id="client-flashes" class="contents" />
        @flashes()
        { children... }
    }
}
