.review-editor {
    &__close {
        @apply top-2 right-2 absolute;
    }

    &__toolbar {
        @apply rounded-lg border p-1 flex gap-1;
        
        & button {
            @apply 
                size-8 flex items-center justify-center rounded-sm p-4 text-muted-foreground 
                hover:bg-muted hover:text-foreground
                transition-colors;
    
            &.active {
                @apply text-primary bg-primary/10;
            }
        }
    }

    &__content {
        @apply text-sm mt-2 border-border border rounded-md;
        min-height: 300px;

        .ProseMirror {
            @apply p-2;
        }
    }
}